    <section class="main-header">
      <img src="<%= asset_path "HNI_0007" %>">
    </section>
    <p id="notice"><%= notice %></p>
   <section class="about">
          <h1>ポケモンエクスチェンジとは</h1>
          <p>
            ポケモンエクスチェンジは、Ruby塾の大課題を達成するために作成されたポケモン交換掲示板です。<br>
            作り終えたころにはRuby案件へ参画できるほどの力が身につくでしょう。
          </p>
        </section>
   <section class="function">
      <h1>できること</h1>
        <div class="function-images">
          <div class="function-image">
            <img src="<%= asset_path "Exchange.png" %>">
            <p>ログイン機能</p>
          </div>
          <div class="function-image">
            <img src="<%= asset_path "Exchange.png" %>">
            <p>友達つながり機能</p>
          </div>
          <div class="function-image">
              <img src="<%= asset_path "Exchange.png" %>">
            <p>投稿機能</p>
          </div>
        </div>
    </section>
    <div id="page-top-btn" class="page-top-btn">
        <p><a class="move-page-top" id="move-page-top">▲</a></p>
    </div>
